@use '../../../style/mixin' as mix;

@use '../../../style/variables.scss' as v;

.quiz-form {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.category {
	height: var(--button-height);
	@include mix.fontMedium;
}

.explain {
	height: 240px;
	padding: 10px;
	border: 1px solid #{v.$gray-80};
	border-radius: 4px;
	box-shadow: inset 1px 1px 2px 0 rgb(0 0 0 / 4%);
	color: #{v.$gray-100};
	resize: none;
	@include mix.fontMedium;

	&:focus {
		border: 1px solid #{v.$correct};
		outline: none;
	}

	&::placeholder {
		color: #{v.$gray-80};
		line-height: inherit !important;
	}
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}
