{
	"plugins": ["stylelint-scss", "stylelint-order"],
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-config-prettier-scss",
		"stylelint-config-property-sort-order-smacss"
	],
	"rules": {
		"scss/dollar-variable-pattern": null,
		"color-no-invalid-hex": true,
		"at-rule-no-unknown": null,
		"selector-class-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
		"keyframes-name-pattern": "/^([a-z][a-z0-9]*)(-[a-z0-9]+)*$/",
		"max-nesting-depth": 3,
		"no-descending-specificity": null,
		"string-quotes": "single",
		"scss/at-rule-conditional-no-parentheses": null
	},
	"ignoreFiles": [
		"**/*.js",
		"**/*.ts",
		"**/*.tsx",
		".eslintrc.cjs",
		"/node_modules",
		"**/*.md"
	],
	"defaultSeverity": "warning"
}
